# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.sqlite3
db.sqlite3

# Node
node_modules/
dist/
tmp/
.cache/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Angular
frontend/node_modules/
frontend/dist/
frontend/tmp/

# Backend static
backend/staticfiles/
backend/media/

# Misc
*.log
.env
.env.local
.hermes/
TEST_CREDENTIALS.txt
