# Python
__pycache__/
*.pyc
*.pyo
.env
.venv/
venv/
*.sqlite3
db.sqlite3
/media
/staticfiles

# Node
node_modules/
dist/
frontend/dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
ehthumbs.db
Desktop.ini

# Backups
backend_backup_*/
*.bak

# Project status cache
project-status.json
